@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat.ttf') format("ttf");
    font-weight: 700;
    font-display: swap;
    font-style: bold;
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Roboto.ttf') format("ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
    font-family:'Montserrat',sans-serif;
}
.wrapper,.container{
    margin:auto;
}
.wrapper{
    width: 1903px;
}
.container{
    max-width:1240px;
}
.main{
    background:url('../img/bg-main.png') no-repeat;
}
.header{
    padding-top: 20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom:30px;
} 
.contact-info{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:414px;
}
.socials__list-items{
    display:flex;
    list-style-type:none;
    margin-left: -150px;
}
.socials__item{
    margin-right:15px;
    background:#3197F4;
    border-radius:50%;
}
.socials__link{
    display:inline-block;
    padding-top:13px;
    padding-right:15px;
    padding-bottom:10px;
    padding-left:15px;
    color:#3197F4;
}
.contacts{
    display:flex;
    flex-direction:column;
}
.contacts__link-call{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #5E5E5E;
    text-decoration: none;
    margin-bottom: 7px;
}
.contacts__link-get-call{
    font-weight:700;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    text-decoration: none;
    margin-left:35px;
    display:flex;
    align-items: center;
}
.contacts__link-get-call:hover{
    cursor:pointer;
    color:#307FE2;
}
.get-call-image{
    margin-right:9px;
}
.main__content{
    text-align: center;
}
.main__text{
    padding-bottom:400px;
}
.main__title{
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    color: #1E1E1E;
    margin-bottom:21px;
}
.main__subtitle{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #5E5E5E;
    margin-bottom:34px;
}
.main__warranties{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #5E5E5E;
}
.percent-warranties{
    color:#93DA49;
}
.main__consult{
    position: relative;
    margin-top: -200px;
    z-index:1;
    padding-bottom: 50px;
    
}
.consult__arrow,.consult__arrow-get-consult,.get-consult{
    position:absolute;
}
.get-consult{
    left:525px;
    top:-50px;
}
.consult__arrow-get-consult{
    left:360px;
    top:-180px;
}
.consult__arrow{
    left:720px;
    top:-140px;
}
.consult__title{
    font-weight: 900;
    font-size: 133px;
    line-height: 162px;
    text-align: center;
    text-transform: uppercase;
    z-index:-1;
    color:#f6f6f6;
    opacity:0.16;
    margin-top: -50px;
    padding-bottom:50px;
    margin-bottom: 50px;
}
.features__list-items{
    margin-top:50px;
    list-style-type:none;
    display:flex;
    justify-content:space-between;
    width: 1065px;
    margin:auto;
    margin-bottom: 50px;
}
.features__item{
    display:flex;
    align-items: center;
}
.features__image{
    margin-right:20px;
}
.features__text{
    color:#868686;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
}
.features__text--colored{
    color:#5E5E5E;
    font-weight:900;
}
/* styles for section description */
.description__content,.mitos__content{
    display:flex;
    flex-direction:column;
}
.description__title{
    margin-top: 100px;
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #5E5E5E;
}
.description__slogan-text,.description-tagline{
    display:flex;
    align-items: center;
    margin-bottom: 82px;
}
.slogan__title{
    margin-top: 123px;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
    margin-left:110px;
    font-weight: bold;
}
.slogan__image{
    display:flex;
}
.image-wallet{
    margin-left: -200px;
    margin-top: -50px;
}
.text-descr{
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
    margin-bottom:38px;
    display:flex;
    align-items: center;
    margin-left: -100px;
}
.text-descr::before{
    margin-right: 20px;
    display:inline-block;
    width: 95px;
    height: 12px;
    content:'';
    background-color: #307FE2;
}
.slogan__text-describe{
    font-weight: 500;
    font-size: 22px;
    line-height: 180%;
    color: #5E5E5E;
    margin-left: -100px;
}
.slogan__text-describe span{
    color:#307FE2;
    font-weight: bold;
}
.slogan__note-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    color: #5E5E5E;
    padding: 30px 85px;
}
.slogan__note-text span:nth-child(1){
    text-decoration:line-through;
    color:#A60000;
}
.slogan__note-text span{
    color: #307FE2;
    font-weight: bold;
}
.slogan__note{
    background: rgba(48, 127, 226, 0.15);
    box-sizing:border-box;
    margin-bottom:88px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.slogan__note::before,.slogan__note::after{
    height: 60px;
    border:3px solid #307FE2;
    content:'';
}
.tagline__title{
    font-size: 96px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
    z-index:-1;
    position: absolute;
    width:630px;
    left:-182px;
    top:-40px;
    font-weight: bold;
}
.tagline__text, .proposal__content{
    position: relative;
}
.tagline__text-describe{
    font-size: 22px;
    line-height: 180%;
    color: #5E5E5E;
    margin-left:60px;
    margin-top:100px;
    font-weight: 700;
}
.tagline__text-describe span{
    color:#307FE2;
}
.tagline__info-text{
    display:flex;
}
.description-text{
    position: relative;
    margin:auto;
    margin-left:200px;
}
.description__text{
    font-weight: 500;
    font-size: 34px;
    line-height: 170%;
    color: #5E5E5E;
    margin-bottom: 140px;
}
.description__text span{
    color:#307FE2;
    font-weight: bold;
}
.description-logo{
    position:absolute;
    left:600px;
    top:150px;
}
/* styles for proposal block */
.proposal{
    background:url('../img/bg-proposal.svg') no-repeat;
    height:550px;
}
.proposal__content{
    margin-bottom: 100px;
}
.proposal__title{
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.proposal__subtitle{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.proposal__list-items{
    list-style-type:none;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.proposal__item{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display:flex;
    align-items: center;
    margin-right:44.5px;
}
.image-keys{
    position:absolute;
    left:-250px;
    top:-100px;
}
.image-fly{
    position:absolute;
    left:900px;
    top:145px;
}
.proposal__text{
    padding-top:105px;
}
.proposal__item-image{
    margin-right:10px;
}
.proposal__link, .checklist__link-get-checklist{
    display:block;
    box-sizing: border-box;
    padding:29 44px;
    text-decoration: none;
    color:rgba(30, 30, 30, 1);
    margin:auto;
    background: #F9E547;
    text-align: center;
    padding:29px 44px;
    width: 440px;
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom:100px;
}
.proposal__link:hover{
    background:#FFF07C;
}
/* styles for benefits */
.benefits__cards-features{
    display:flex;
    justify-content:space-around;
    margin-bottom:122px;
}
.benefits__title{
    text-align: center;
    margin-top: 205px;
    margin-bottom:90px;
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #1E1E1E;
}
.benefits__card-title,.benefits__card-describe-text span{
    color:#307FE2;
    text-align: center;
    font-weight: bold;
}
.benefits__card-title{
    text-transform: uppercase;
    margin-bottom: 65px;
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
}
.benefits__card-describe-text{
    margin-top: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    font-weight: normal;
}
/* styles for mitos */
.mitos__text{
    font-weight: 500;
    font-size: 34px;
    line-height: 170%;
    color: #5E5E5E;
    margin-left: 125px;
}
.mitos__text span{
    color:#307FE2;
}
.mitos__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
    margin-left: 400px;
    margin-top: 70px;
    margin-bottom:54px;
}
.mitos__cards{
    justify-content:center;
    margin-top: 50px;
    display:grid;
    grid-template-rows:repeat(3,616px);
    grid-template-columns:repeat(2,518px);
}
.mit__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #A60000;
    margin-bottom: 30px;
    font-weight: bold;
}
.mit__describe{
    font-size: 16px;
    line-height: 200%;
    color: #1E1E1E;
    font-weight: bold;
}
.mit-text{
    box-sizing: border-box;
    padding-top:40px;
    padding-bottom: 40px;
    padding-left:39px;
    padding-right:28px;
}
.real-text{
    background: #307FE2;
    width: 460px;
    height: 319px;
    box-sizing: border-box;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:39px;
    padding-right:28px;
}
.real__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom:10px;
}
.real__describe{
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    color: #FFFFFF;
}
/* styles for reasons */
.reasons-appeals{
    margin-top:165px;
}
.reasons-appeals__title{
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #1E1E1E;
}
.reasons-appeals__cards{
    margin-top:95px;
    display:grid;
    grid-template-rows:repeat(2,185px);
    grid-template-columns:repeat(2,425px);
    justify-content:space-around;
    grid-row-gap:160px;
    margin-bottom: 85px;
}
.reasons-appeals__card-title{
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
    font-weight: bold;
    margin-bottom: 30px;
}
.reasons-appeals__describe-text{
    font-size: 16px;
    line-height: 200%;
    color: #1E1E1E;
}
.reasons-appeals__describe-text span{
    font-weight: bold;
}
.text-feature--colored{
    color:#A60000;
    font-weight: normal;
}
.reasons-appeals__consult{
    position: relative;
}
.link-consult{
    margin-left:500px;
}
.chains-image{
    position:absolute;
    left:-340px;
    z-index:-1;
}
.reasons-appeals__content{
    margin-bottom:200px;
}
/* styles for rates */
.rates__title{
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #1E1E1E;
}
.rates__title span{
    color:#5E5E5E;
}
.rates__cards-rate{
    margin-top: 200px;
    display:grid;
    grid-template-rows:repeat(2,636px);
    grid-template-columns:repeat(3,380px);
    grid-gap:120px;
    margin-bottom:250px;
}
.rates__card-rate{
    border-top:3px solid #93DA49;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:rgba(234, 247, 222, 1);
}
.card-rate__title{
    padding-top:100px;
    font-weight: 600;
    font-size: 22px;
    line-height: 115%;
    text-align: center;
    color: #5E5E5E;
    margin-bottom: 16px;
    margin-top: 16px;
}
.card-rate__subtitle{
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #93DA49;
    text-align: center;
}
.card-rate__subtitle span{
    font-weight: 600;
    font-size: 18px;
    color: #93DA49;
    text-transform:none;
    margin-top: 9px;
}
.card-rate__list-items{
    list-style-type:circle;
    margin-bottom:40px;
    margin-top:46px;
}
.card-rate__item{
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    color: #1E1E1E;
    margin-bottom:12px;
}
.card-rate__item span{
    color:#5E5E5E;
}
.result__title{
    font-weight: 600;
    font-size: 18px;
    line-height: 200%;
    color: #5E5E5E;
}
.result__price{
    font-size: 26px;
    line-height: 200%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #5E5E5E;
    font-weight: bold;
    text-decoration:line-through;
}
.installment{
    font-size: 18px;
    line-height: 200%;
    color: #307FE2;
    font-weight: bold;
    margin-bottom:50px;
}
.link-request{
    background: #307FE2;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:30px 95px;
    margin-top: 30px;
    height:80px;
    width: 380px;
}
.link-request:hover{
    background:#3197F4;
}
.link-request__image{
    margin-left: 20px;
}
.rates__consult{
    display:flex;
    justify-content:space-around;
    margin-bottom:180px;
}
.rates__consult-title{
    font-weight: 600;
    font-size: 52px;
    line-height: 115%;
    color: #5E5E5E;
}
.checklist{
    background:url('../img/bg-checklist.svg') no-repeat;
    margin-bottom:200px;
}
.checklist__content{
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin-left: 230px;
    width: 890px;
}
.checklist__image{
    position: relative;
}
.checklist-image{
    position:absolute;
    left:-600px;
    top:-430px;
}
.checklist__text{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-left: 250px;
}
.checklist__title{
    margin-top:93px;
    margin-bottom: 65px;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    color: #FFFFFF;
}
.checklist__subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
    margin-bottom:60px;
    font-weight: normal;
}
.checklist__subtitle span{
    font-weight: bold;
}
.checklist__link-get-checklist{
    margin-left: -20px;
    font-weight: bold;
}
.checklist__link-get-checklist:hover{
    background:#FFF07C;
}
/* styles for win-cases */
.win-cases__title{
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
    width:870px;
    text-align: center;
    margin:auto;
}
.win-cases__title span{
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #F9E547;
}
.win-cases__slider{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 160px;
    margin-bottom:50px;
}
.image__scan{
    margin-left:50px;
    margin-right:75px;
}
.counter__slider-progress{
    text-align:center;
    font-weight:bold;
    margin-left:150px;
    margin-bottom:100px;
}
.pagination{
    margin-top: 50px;
    margin-bottom: 50px;
    display:flex;
    justify-content: space-between;
    width:1450px;
    margin-bottom: 100px;
}
.pagination-local{
    display: block;
    margin: 0 5px;
    width: 73.33px;
    cursor: pointer;
    background: #307FE2;
    height:10px;
}
.pagination-line:hover{
    background:#A5E1FD;
}
.pagination-active{
    display: block;
    margin: 0 5px;
    width: 73.33px;
    cursor: pointer;
    background:rgba(235, 235, 235, 1);
}
.pagination-unactive{
    display: block;
    margin: 0 5px;
    width: 73.33px;
    cursor: pointer;
    background:rgba(217, 217, 217, 1);
    height:10px;
}
.slider-progress__start,.slider-progress__end{
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
    display:inline-block;
}
.slider-progress__start{
    margin-right: 25px;
}
.slider-progress__end{
    color:#5E5E5E;
    margin-left: 25px;
}
/* styles for offer */
.offer{
    background:#307FE2;
    margin-bottom: 200px;
}
.offer__content{
    display:flex;
    align-items: center;  
    justify-content:space-around;
    position: relative; 
}
.offer-image{
    width:800px;
    height:690px;
    top:0px;
    left:0px;
    position:absolute;
}
.offer__image{
    width: 800px;
}
.offer__text{
    margin-left:0px;
    padding-top:120px;
    padding-bottom:150px;
    margin-left: 150px;
}
.offer__title{
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    color: #FFFFFF;
}
.offer__subtitle{
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin-top:48px;
    margin-bottom:70px;
}
.offer__link{
    background: #F9E547;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #1E1E1E;
    display:inline-block;
    box-sizing: border-box;
    padding: 30px 63px;
    font-weight: bold;
}
.offer__link:hover{
    background:#FFF07C;
}
.working-process__title{
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #1E1E1E;
    margin-bottom: 92px;
}
.working-process__list-items{
    margin-left:270px;
    width:1000px;
    margin-bottom: 150px;
}
.working-process__item{
    margin-bottom: 50px;
}
.working-process__title-item{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    display:inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
}
.working-process__item-describe{
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    margin-left:20px;
    font-weight:500;
}
.working-process__content{
    margin-bottom: 150px;
}

/* styles for owner section */
.owner__content{
    text-align: center;
    position: relative;
}
.owner__title{
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    color: #1E1E1E;
}
.owner__subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
    margin-top:35px;
    margin-bottom: 50px;
}
.owner__video-image{
    margin-bottom: 120px;
}
.owner__video-image:hover{
    cursor:pointer;
}
/* styles for section numbers */
.numbers__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
    margin-left:150px;
    margin-bottom: 75px;
}
.numbers__subtitle{
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
    margin-left: 500px;
}
.numbers__content{
    margin-top: 90px;
    margin-bottom:150px;
}
.numbers__list-items{
    display:flex;
    list-style-type:none;
    text-align: center;
    justify-content:space-around;
}
.numbers__image{
    margin-bottom:30px;
}
.numbers__title-item{
    margin-bottom:20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #93DA49;
}
.numbers__text-describe{
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    color: #5E5E5E;
}
/* styles for reviews */
.switcher__videos{
    display:flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
}
.video{
    display:flex;
    justify-content:space-evenly;
}
.video-image:hover{
    cursor:pointer;
}
.reviews__title{
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #1E1E1E;
    margin-bottom:50px;
}
.reviews__title span{
    color:#5E5E5E
}
.block__control{
    display:flex;
    justify-content:space-between;
    width:280px;
    margin:auto;
    margin-bottom:50px;
}
.btn-switcher{
    outline:none;
    border:none;
    background:transparent;
    text-transform:uppercase;
    color:#307FE2;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 157px;
    height: 60px;
}
.btn-switcher:hover{
    cursor:pointer;
    background-color:#307FE2;
    color:white;
}
.btn-active{
    margin-right:25px;
}
.btn-unactive{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
}
.reviews__content{
    margin-bottom:150px;
}
/* styles for section jur-consult */
.jur-consult{
    padding-top:100px;
    box-sizing: border-box;
    background:url('../img/bg-jur.png') no-repeat;
    margin-bottom: 150px;
}
.jur-consult__title{
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    color: #FFFFFF;
    margin-bottom:65px;
}
.jur-consult__describe-text{
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}
.jur-consult__link{
    background: #F9E547;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #1E1E1E;
    box-sizing: border-box;
    padding:29px 32px;
    text-decoration: none;
    display:inline-block;
    margin-top:70px;
    margin-bottom:75px;
}
.jur-consult__link:hover{
    background:#FFF07C;
}
.jur-consult__image{
    position:relative;
}
.jurist__text-info,.jur__dop-info{
    position:absolute;
    box-sizing: border-box;
}
.jurist__text-info{
    background: linear-gradient(113.84deg, #307FE2 0%, #3197F4 100%);
    padding:31px 70px;
    text-align: center;
    left:750px;
    top:-310px;
}
.jur__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.jur__subtitle{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.jur__dop-info{
    box-sizing: border-box;
    background: linear-gradient(113.84deg, #307FE2 0%, #3197F4 100%);
    display:flex;
    align-items: start;
    padding:19px 26px;
    left:830px;
    top:-180px;
}
.dop-info__describe{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left:14px;
}
/* styles for bankruptcy */
.offer-bankruptcy{
    background:url('../img/bg-offer-bankruptcy.svg') no-repeat;
}
.offer-bankruptcy__content{
    position: relative;
    text-align: center;
    padding-top:70px;
    padding-bottom:200px;
    margin-bottom: 200px;
}
.offer-bankruptcy__title{
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom:50px;
}
.offer-bankruptcy__text-describe{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 62px;
}
.offer-bankruptcy__link{
    background: #F9E547;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #1E1E1E;
    text-decoration: none;
    padding:30px 40px;
    margin:auto;
}
.offer-bankruptcy__link:hover{
    background-color:#FFF07C;
}
.offer-bankruptcy__wallet-left,.offer-bankruptcy__wallet-right{
    position:absolute;
}
.offer-bankruptcy__wallet-left{
    top:50px;
    left:-300px;
}
.offer-bankruptcy__wallet-right{
    top:-100px;
    left:900px;
}
/* styles for questions */
.questions__title{
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #5E5E5E;
    margin-bottom: 85px;
}
.questions__title span{
    color:#1e1e1e;
}
.accordeon__header{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 85px;
    margin-left:190px;
}
.accordeon__header:hover{
    cursor:pointer;
    color:#307FE2;
}
.accordeon__header::before{
    content: "";
    background-image: url('../img/icon-accordeon-header.svg');
    background-size: cover;
    height:50px;
    width:50px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

/* styles for more question */
.more-questions__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
}
.more-questions__title span{
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
}
.more-questions__describe-text{
    margin-top: 50px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #307FE2;
    margin-bottom:80px;
}
.more-questions__list-items{
    list-style-type:none;
}
.more-questions__item{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #5E5E5E;
    display:flex;
    margin-bottom: 40px;
    /* width:500px; */
}
.more-questios__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #1E1E1E;
    margin-left: 40px;
}
.more-questions__item-image:nth-child(1){
    margin-right: 12px;
}
.more-questions__item-image{
    margin-right:-29px;
}
.more-question__image{
    position: relative;
}
.more-questions__text{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.more-questions__image-question{
    position:absolute;
    left:-200px;
    top:-300px;
}
.more-questions__socials{
    position:relative;
}
.footer__list-items{
    position:absolute;
    top:-100px;
    left:700px;
}
.more-questions__text{
    margin-bottom: 150px;
}
.more-questions__map-image{
    margin-left:-330px;
}
.address__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.address__text-describe{
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.more-questions__map{
    position: relative;
}
.block-address{
    position:absolute;
    background-color:#307FE2;
    box-sizing: border-box;
    padding-top:47px;
    padding-bottom: 47px;
    padding-left:120px;
    padding-right:150px;
    position:absolute;
    top:0px;
}
/* styles for examples */
.examples__content{
    position:relative;
    margin-bottom: 200px;
}
.examples__title{
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #5E5E5E;
    margin-bottom: 100px;
}
.examples__title span{
    color:#000;
}
.examples__problem,.examples__decision{
    position:absolute;
}
.examples__problem{
    box-sizing: border-box;
    background: #307FE2;
    width: 567px;
    height: 332px;
    top:250px;
}
.examples__decision{
    left:800px;
    top:600px;
    width: 857px;
    height: 306px;
    background: #FFFFFF;
    box-shadow: 0px 0px 145px rgba(0, 0, 0, 0.1);
}
.problem__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-90deg);
    margin-right:250px;
    margin-left:-200px;
}
.problem__text-describe{
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #FFFFFF;
    margin-left: 100px;
}
.image-molot{
    margin-left:420px;
    margin-top:-25px;
}
.examples__decision{
    left:400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 145px rgba(0, 0, 0, 0.1);
    width: 857px;
    height: 306px;
    box-sizing: border-box;
    padding:50px 20px;
    margin-top:100px;
}
.decision__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
    transform: rotate(-90deg);
    margin-right:600px;
    margin-left:-150px;
}
.decision__list-items{
    margin-top:-60px;
    margin-left:140px;
    margin-bottom:40px;
}
.decision__item{
    font-weight: 700;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #307FE2;
    font-weight: bold;
}
.decision__item span{
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    color: #5E5E5E;
}
.decision__text-describe{
    margin-left: 120px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #1E1E1E;
}
.cases__title-list{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #5E5E5E;
    margin-bottom: 30px;
}
.cases__title-list span{
    color:rgba(48, 127, 226, 1);
}
.cases__title-list span:nth-child(2){
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C4C4;
}
.link-cases__arrow{
    margin-right:90px;
    background-color: #c4c4c4;
    display:inline-block;
    border-radius:50%;
    padding: 27px;
}
.link__arrow-backward,.link__arrow-forward{
    background-color:#307FE2;
    border-radius:50%;
    padding: 40px;
    display:inline-block;
}
.link__arrow-forward:hover,.link__arrow-backward:hover{
    background: #3197F4;
}
.link-cases__arrow:hover{
    background-color:#307FE2;
}
.link-arrow{
    background-color: #c4c4c4;
    border-radius:50%;
    display:inline-block;
    padding: 20px;
}
.link-arrow__forward{
    background-color: #307FE2;
}
.link-play{
    position:absolute;
    display:inline-block;
    padding:25px;
    background-color:#307FE2;
    border-radius:50%;
    top:50px;
    left:1000px;
    top:75px;
}
.link-play:hover{
    background:#3197F4;
}
.link-play-first{
    left:250px;
}
.link-play-second{
    left:600px;
}
.link-play-third{
    left:950px;
}
.link-arrow:hover{
    background-color:#307FE2;
}
.image-video-play{
    position:absolute;
    left:600px;
    top:500px;
    background-color:#307FE2;
    padding:55px;
    border-radius:50%;
}
.image-video-play:hover{
    background-color:#3197F4;
}




/* Модалки */
.modal-window-get-consult,.modal-window-get-call,.modal-window-get-receiving-request{
    position:fixed;
    display:none;
    top:0;
    left:0;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.7);
    z-index:100;
}
/* .modal-window-get-call{
    display:block;
} */
.modal-window-get-consult__content,.modal-window-get-phone__content,.modal-window-get-receiving-request__content{
    display:flex;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    padding:68px 63px;
    position:absolute;
    top:200px;
    left:500px;
    z-index:2;
}
.modal-window-get-consult__text{
    z-index:0;
}
.modal-window__content-title,.modal-window-get-receiving-request__title{
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    color: #307FE2;
    margin-bottom:24px;
    text-align: left;
}
.modal-window__content-text-describe,.modal-window-get-receiving-request__text-describe{
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #1E1E1E;
    margin-bottom:50px;
    text-align: left;
}
.modal-window-get-receiving-request__text-describe{
    text-align: center;
}
.modal-window__content-text-describe span{
    font-weight: bold;
}
.modal-window__input{
    margin-right: 15px;
    background: #D0E5FF;
    box-sizing: border-box;
    outline:none;
    border:none;
    padding:26px 38px;
    padding-left: 50px;
}
.modal-window__form-consult{
    display:flex;
}
.modal-window__input{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1E1E1E;
}
.modal-window__input::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1E1E1E;
    margin-left:50px;
}
.modal-window__get-consult,.modal-window-get-receiving-request__link{
    background: #307FE2;
    border:none;
    outline:none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    box-sizing: border-box;
    padding:27px 29px;
    text-decoration: none;
}
.modal-window-get-consult__image,.modal-window-get-phone__image{
    position: relative;
    z-index:-1;
    top:-100px;
    left:600px;
}
.form-image-notes{
    position:absolute;
    top:-300px;
    left:-250px;
}
.form-image-phone{
    position:absolute;
    top:-250px;
    left:-300px;
}
.modal-window__get-consult:hover{
    cursor: pointer;
}
.close-modal-window{
    height: 30px;
    position:absolute;
    left:230px;
    top:100px;
}
.close-modal-window:hover{
    cursor: pointer;
}
.modal-window-get-receiving-request__content{
    flex-direction:column;
    left:700px;
}
.close-modal-window-receiving-request{
    top:-100px;
    left:-270px;
}